@use "@angular/material" as mat;
@use "@fontsource/source-sans-pro";

@include mat.core();

$soka-primary: mat.define-palette(mat.$gray-palette, A100);
$soka-accent: mat.define-palette(mat.$orange-palette, 500);

$soka-theme: mat.define-light-theme(
  (
    color: (
      primary: $soka-primary,
      accent: $soka-accent,
    ),
    typography:
      mat.define-typography-config(
        $font-family: "Source Sans Pro",
      ),
    density: 0,
  )
);

// @include mat.core-theme($soka-theme);

@include mat.all-component-themes($soka-theme);
